<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="~{header :: header}"></div>

<a th:href="@{/tweetForm}">新規投稿画面</a>
投稿の一覧表示
  <ul th:each = "t:${tweets}">
      <div class="button" >
          <a class="update-button" th:href="@{/tweet/{tweetId}(tweetId=${t.id})}">詳細</a>
      </div>
      <li th:text = "${t.getContent()}">
      </li>
      <li th:text = "${t.getImage()}">
      </li>
      <li th:text = "${t.user.getUsername()}">
      </li>
  </ul>
</body>
</html>