<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="ja">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<div th:insert="~{header :: header}"></div>-->

<!--<h1>ツイート詳細画面</h1>-->

<!--<div class="button" th:if="${#authentication.name == t.user.username}">-->
<!--    <a class="update-button" th:href="@{/user/{userId}/tweet/{tweetId}/edit(userId=${t.user.id}, tweetId=${t.id})}">編集</a>-->
<!--    <form th:action="@{/user/{userId}/tweet/{tweetId}/delete(userId=${t.user.id}, tweetId=${t.id})}" method="post">-->
<!--        <input class="delete-button" type="submit" value="削除">-->
<!--    </form>-->
<!--</div>-->


<!--    <li th:text = "${t.getContent()}">-->
<!--    </li>-->
<!--    <li th:text = "${t.getImage()}">-->
<!--    </li>-->
<!--    <li th:text = "${t.user.getUsername()}">-->
<!--    </li>-->

<!--<div th:insert="newComment :: newComment"></div>-->
<!--<div th:insert="showComment :: showComment"></div>-->

<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>ユーザー詳細</title>
</head>
<body>

<div th:insert="~{header :: header}"></div>

<div class="contents row">
    <div class="content_post" th:style="'background-image: url(' + ${t.image} + ');'">
        <div th:if="${#authentication.name == t.user.username}" class="more">
            <span>▼</span> <!-- erbのimage_tag 'arrow_top.png' の代替 -->
            <ul class="more_list">
                <li>
<!--                    <a class="update-button" th:href="@{/user/{userId}/tweet/{tweetId}/edit(userId=${user.id}, tweetId=${user.tweet.id})}">編集</a>-->
                </li>
                <li>
<!--                    <form th:action="@{/user/{userId}/tweet/{tweetId}/delete(userId=${user.id}, tweetId=${user.tweet.id})}" method="post" class="delete" >-->
<!--                        <input class="delete-button" type="submit" value="削除">-->
<!--                    </form>-->
                </li>
            </ul>
        </div>
        <p th:text="${user.tweet.getContent()}"></p>
<!--        <span class="name">-->
<!--            <a th:href="@{/users/${user.id}}">-->
<!--                <span>投稿者</span><span th:text="${user.username}"></span>-->
<!--            </a>-->
<!--        </span>-->
    </div>
</div>

</body>
</html>
